@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');

body {
 box-sizing: border-box;
 font-family: Arial,
 Helvetica,
 sans-serif;
}

.container {
 overflow: hidden;
 display: block;
 margin: auto ;
 margin-top: -30px;
 background-color: white;
 width: 1100px;
 height: 580px;
 padding-top: 50px;
}

.content {
 overflow: hidden;
 
}

.header {
 display: flex;
 justify-content: space-around;
 height: 150px;
}

.title {
 margin-bottom: 100px;
}

.title p {
 font-weight: bolder;
 margin-top: 30px;
 margin-right: 10px;
 font-size: 80px;
 font-family: Arial,
 Helvetica,
 sans-serif;
}

.title span {
 font-family: 'Work Sans',sans-serif;
}

.addItems {
 margin-top: 20px;
 font-size: 40px;
 font-family: 'Work Sans',
 sans-serif;
}

.fas {
 color: orange;
}

.toDoList {
 display: block;
 margin: auto;
 width: 90%;
 height: 399px;
 overflow-x: hidden;
 overflow-y: auto;
 padding-bottom: 20px;
 padding-right: 10px;
}

.toDoList::-webkit-scrollbar-track {
 -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
 background-color: #F5F5F5;
 border-radius: 10px;
}

.toDoList::-webkit-scrollbar {
 width: 10px;
 background-color: #F5F5F5;
}

.toDoList::-webkit-scrollbar-thumb {
 border-radius: 10px;
 background-color: orange;
   
}

.list {
 display: flex;
 flex-wrap: wrap;
 justify-content:space-around;
 
}



.card {
 border-width: 1px;
 border-style: solid;
 border-radius: 0.8rem;
 border-color: orange;
 box-shadow: 5px 5px 10px grey;
 margin-left: 0px;
 padding: 10px;
 width: 210px;
 height: 350px;
 margin-top: 20px;
}

.card h1 {
 font-family: 'Work Sans',
 sans-serif;
 color: orange;
}

input {
 width: 20px;
 height: 20px;
}

.card label {
 font-size: 25px;
}

.newList {
 position: absolute;
 top: 250px;
 margin-left: 350px;
 text-align: center;
 border-width: 1px;
 border-color: red;
 border-style: solid;
 border-radius: 0.8rem;
 width: 400px;
 height: 200px;
 background-color: white;
}

.newList form {
 margin-top: 35px;
}

.newList input {
 margin-top: 15px;
 width: 250px;
 height: 30px;
 border-color: orangered;
 border-radius: 0.3rem;
}

.newList label {
 font-size: 25px;
 color: red;
}

.newList button {
 margin-top: 15px;
 width: 80px;
 height: 40px;
 background-color: orangered;
 border-radius: 1.1rem;
 font-size: 20px;
 color: white;
 border: none;
}


@media screen and (max-width: 760px) {
 .body {
  width: 500px;
  padding: 0px;
 }
 .content {
  display: block;
  margin: auto;
  width: 500px;
 }

 .title p{
  font-size: 55px;
  margin-top: 55px;
  margin-left: 20px;
 }
 .header {
  display: flex;
  margin: auto;
  justify-content: space-between;
  height: 140px;
  width: 430px;
 }
 .addItems {
  margin-right: 40px;
  font-size: 55px;
  margin-top: 1px;
 }
 .addItems span{
  display: none;
 }
 .container {
  padding-top: 0%;
  display: block;
  margin: auto;
  width: 480px;
  height: 750px;

 }
 .card {
  text-align: center;
  float: none;
  width: 80%;
  height: 60px;
  overflow: hidden;
  font-size: 10px;
  margin-top: 10px;
 }
 
 .toDoList {
  height: 600px;
  padding-left: 50px;
  padding-right: 50px;
  overflow:auto;
 }
 .list {
  height: 600px;
  flex-direction: column;
  
 }
 .newList {
      width: 80%;
      right: 40px;
      top: 200px;
 }
}